<f:layout name="Default" />

<f:section name="content">
<h1>Listing for Dashboard</h1>

<f:flashMessages />

<table  class="tx_dashboard" >
	<tr>
		<th><f:translate key="tx_dashboard_domain_model_dashboard.title" /></th>
		<th><f:translate key="tx_dashboard_domain_model_dashboard.description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{dashboards}" as="dashboard">
		<tr>
			<td><f:link.action action="show" arguments="{dashboard : dashboard}"> {dashboard.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{dashboard : dashboard}"> {dashboard.description}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{dashboard : dashboard}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{dashboard : dashboard}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Dashboard</f:link.action>
</f:section>