{namespace d=TYPO3\CMS\Dashboard\ViewHelpers}
<f:be.container loadJQuery="{settings.loadJQuery}" includeCssFiles="{includeCssFiles}" includeJsFiles="{includeJsFiles}">
  <div class="typo3-fullDoc">


    <div class="module-docheader t3js-module-docheader" style="height: auto;">
      <div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation" style="height: auto;">
        <div class="module-docheader-bar-column-left">
        </div>
        <div class="module-docheader-bar-column-right">
          
        </div>
      </div>
      <div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons" style="height: auto;">
        <div class="module-docheader-bar-column-left">
          <div class="btn-toolbar" role="toolbar" aria-label="">

          </div>
        </div>

        <div class="module-docheader-bar-column-right">
          <div class="btn-toolbar" role="toolbar" aria-label="">

            <a onclick="{link}" class="btn btn-default btn-sm btn-dashboard" title="">{f:translate(key:'LLL:EXT:dashboard/Resources/Private/Language/locallang.xlf:tx_dashboard_domain_model_dashboardsettings')}
              <span class="t3js-icon icon icon-size-small icon-state-default">
                <span class="icon-markup">
                  <span class="t3-icon fa fa-cog"></span>
                </span>
              </span>
            </a>

            <a data-toggle="modal" data-target="#addNewWidgetModal" class="btn btn-default btn-sm " title="">
              <span class="t3js-icon icon icon-size-small icon-state-default">
                <span class="icon-markup">
                  <span class="t3-icon fa fa-plus-square"></span>
                </span>
              </span>
            </a>

          </div>
        </div>
      </div>
    </div>

    <div id="typo3-docbody">
        <f:flashMessages />
        <f:render section="content" />
    </div>
  </div>


  <!-- Modal Form add new widget-->
  <div class="modal fade" id="addNewWidgetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><f:translate key="tx_dashboard_domain_model_dashboardwidgetsettings.add" /></h4>
        </div>
        <div class="modal-body">
          <ul class="media-list">
            <f:for each="{dashboardWidgets}" as="dashboardWidget">
              <li class="media">
                <div class="media-left">
                  <a href="#" onclick="{dashboardWidget.addNewLink}">
                    <f:image src="{d:be.dashboardWidget.IconSrc(widgetIdentifier: dashboardWidget.widget_identifier)}" width="32" height="32"></f:image>
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#" onclick="{dashboardWidget.addNewLink}">{dashboardWidget.name}</a></h4>
                  <p><f:format.crop maxCharacters="80" respectHtml="TRUE" append="&nbsp;[...]"><f:format.raw>{dashboardWidget.description}</f:format.raw></f:format.crop></p>
                </div>
              </li>
            </f:for>
          </ul>
        </div>
      </div>
    </div>
  </div>

</f:be.container>