{namespace d=Pixelant\Dashboard\ViewHelpers}
<f:layout name="Dashboard" />
<f:section name="MainContent">

<f:flashMessages />
<div id="pixelant-dashboard" data-configuration="{dashboardAppInitialData -> f:format.json()}" data-app-module="{dynamicRequireJsModules.app}" data-view-model="{dynamicRequireJsModules.viewModel}">
<script type="text/javascript">
	var mainElement = $('#pixelant-dashboard');
	require([mainElement.data('appModule'), mainElement.data('viewModel')], function (dashboardApp, viewModel) {
		dashboardApp.getInstance(
			mainElement.data('configuration'),
			viewModel
		).run();
	});
</script>

<f:if condition="{dashboard}">
	<f:then>
		<f:if condition="{dashboard.widgets}">
			<f:then>
				<div data-identifier="grid-stack" class="grid-stack" data-gs-width="12" data-gs-animate="yes">
					<f:for each="{dashboard.widgets}" as="widget" iteration="dashboardWidgetIteration">
						<div class="grid-stack-item js-widget"
							data-gs-x="{widget.x}"
							data-gs-y="{widget.y}"
							data-gs-width="{widget.width}"
							data-gs-height="{widget.height}"
							data-gs-id="{widget.uid}"
							data-gs-min-width="2"
							data-gs-min-height="3"
							style="display: none;">
							<div class="grid-stack-item-header clearfix">
								<div class="pull-left">
									<core:icon identifier="{d:be.dashboardWidget.icon(widget: widget)}" />
									<span class="title">{widget.title}</span>
								</div>
								<f:comment>
								<div class="pull-right">
									<a href="#" onclick="{d:be.dashboardWidget.editOnClick(widget: widget)}" title="Edit"><span class="t3-icon fa t3-icon fa fa-pencil icon-size-small"> </span></a>
								</div>
								</f:comment>
								<div class="btn-toolbar pull-right">
									<div class="btn-group btn-group-sm" role="group">
										<a class="btn btn-default" href="#" onclick="{d:be.dashboardWidget.EditOnClick(widget: widget)}" title="Edit"><core:icon identifier="actions-open" /></a>
										<a class="btn btn-default" href="#" data-identifier="refreshWidget" data-widgetid="{widget.uid}" title="refresh"><core:icon identifier="actions-refresh" /></a>
									</div>
								</div>
							</div>
							<div class="grid-stack-item-content" data-identifier="widgetContent" data-widgetid="{widget.uid}"{f:if(condition: 'widget.settings.jsModule', then: ' data-boot="{widget.settings.jsModule}"')}></div>
							<div class="grid-stack-item-footer clearfix"></div>
						</div>
					</f:for>
				</div>
			</f:then>
			<f:else>
				<div class="typo3-messages">
					<div class="alert alert-info">
						<div class="media">
							<div class="media-left">
								<span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-info fa-stack-1x"></i></span>
							</div>
							<div class="media-body">
								<h4 class="alert-title"><f:translate key="dashboardManager.no_dashboardwidgets_label" extensionName="Dashboard" /></h4>
								<p class="alert-message"><f:translate key="dashboardManager.no_dashboardwidgets_message" extensionName="Dashboard" /></p>
								<a href="#" data-identifier="newWidget"><f:translate key="dashboardManager.no_dashboardwidgets_linktext" extensionName="Dashboard" /></a>
							</div>
						</div>
					</div>
				</div>
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<div class="typo3-messages">
			<div class="alert alert-info">
				<div class="media">
					<div class="media-left">
						<span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-info fa-stack-1x"></i></span>
					</div>
					<div class="media-body">
						<h4 class="alert-title"><f:translate key="dashboardManager.no_dashboards_label" extensionName="Dashboard" /></h4>
						<p class="alert-message"><f:translate key="dashboardManager.no_dashboards_message" extensionName="Dashboard" /></p>
						<a href="#" data-identifier="newDashboard"><f:translate key="dashboardManager.no_dashboards_linktext" extensionName="Dashboard" /></a>
					</div>
				</div>
			</div>
		</div>
	</f:else>
</f:if>
</div>
</f:section>