{namespace d=TYPO3\CMS\Dashboard\ViewHelpers}
<f:layout name="Default" />

<f:section name="content">

<f:flashMessages />

<div class="content dashboard-content">
    <div class="container-fluid t3js-sortable">
        <f:for each="{dashboardCurrent.dashboardWidgetSettings}" as="dashboardWidgetSetting" iteration="dashboardWidgetIteration">
            <div class="{d:be.dashboardWidget.size(widgetIdentifier: dashboardWidgetSetting.widgetIdentifier)}">
                <div class="info-item">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title pull-left">
                                <f:image src="{d:be.dashboardWidget.IconSrc(widgetIdentifier: dashboardWidgetSetting.widgetIdentifier)}" width="27" height="27"></f:image>
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{dashboardCurrent.uid}" href="#collapse-{dashboardCurrent.uid}-{dashboardWidgetSetting.uid}"><strong>{dashboardWidgetSetting.title}</strong></a>
                            </h4>
                            <div class="btn-toolbar pull-right">
                                <div class="btn-group btn-group-sm" role="group">
                                    <a class="btn btn-default" href="#" onclick="{d:be.dashboardWidget.EditOnClick(dashboardWidgetSetting: dashboardWidgetSetting)}" title="Edit"><span class="t3-icon fa t3-icon fa fa-pencil"> </span></a>
                                </div>
                            </div>
                        </div>
                        <div id="collapse-{dashboardCurrent.uid}-{dashboardWidgetSetting.uid}" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <d:be.dashboardWidget dashboardWidgetSetting="{dashboardWidgetSetting}"></d:be.dashboardWidget>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </f:for>
    </div>
</div>
</f:section>
