/* header-part */

.module-docheader .btn-sm {
	line-height: 1em;
	text-transform: uppercase;
}

.module-docheader .btn-dashboard {
	padding-left: 7px;
}

.module-docheader .t3-icon {
	margin: 0;
	vertical-align: top;
}

#addNewWidgetModal .close {
    text-shadow: none;
}

/* dashboard */

.dashboard-content > .container-fluid {
	padding-left: 10px;
	padding-right: 10px;
}

.dashboard-content .panel-heading {
	padding: 7px 10px 5px 6px;
	background: #eaeaea;
}

.dashboard-content .panel-heading h4 {
	color: #2c2c2c;
	text-transform: uppercase;
	margin: 4px;
	font-size: 14px;
}

.dashboard-content .panel-heading h4 img {
	margin-right: 2px;
}

.dashboard-content .panel-heading .t3-icon {
	margin: 0;
	vertical-align: top;
}

.dashboard-content .panel-body {
	height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}

.dashboard-content .height-1 .panel-body {
	height: 180px;
}

.dashboard-content .height-2 .panel-body {
	height: 438px;
	/* 180px * 2 + 48px header + 30px margins */
}

.dashboard-content .height-3 .panel-body {
	/* 180px * 3 + 48px * 2 header + 30px * 2 margins */
	height: 696px;
}

.dashboard-content {
	margin-top:15px;
}

.dashboard-content .panel {
	margin-bottom:15px;
	margin-top:15px;
	box-shadow: none;
}

/* styling for specific content in dashboard panels */

/* rss2 feed widget */

.rss-widget .media-body {
	line-height: 1.8em;
}

.rss-widget .media-heading {
	text-transform: uppercase;
	line-height: 1.3em;
}

.rss-widget .media-heading,
.rss-widget .media-heading a {
	color: #FF8700;
}

.rss-widget .date-badge {
	width: 37px;
	height: 37px;
	margin-bottom: 15px;
}

.rss-widget .date-badge p:nth-child(1) {
	font-size: 1.3em;
}

.rss-widget .date-badge p:nth-child(n + 2) {
	margin-top: -12px;
	font-size: 0.66em;
}

.rss-widget .line {
	height: 1px;
	border: 1px solid;
	border-color: #efefef;
	border-width: 1.5px;
}

/* action widget */

.dropdown-list-link {
	margin-bottom: 5px;
	display: inline-block;
}

.dropdown-list-link .t3js-icon {
	margin-right: 5px;
}

/* system news */

.sysnews-widget .media-body {
	line-height: 1.8em;
}

.sysnews-widget .media-heading {
	text-transform: uppercase;
	line-height: 1.3em;
}

.sysnews-widget .media-heading,
.sysnews-widget .media-heading a {
	color: #FF8700;
}

.sysnews-widget .date-badge {
	width: 37px;
	height: 37px;
	margin-bottom: 15px;
}

.sysnews-widget .date-badge p:nth-child(1) {
	font-size: 1.3em;
}

.sysnews-widget .date-badge p:nth-child(n + 2) {
	margin-top: -12px;
	font-size: 0.66em;
}

.sysnews-widget .line {
	height: 1px;
	border: 1px solid;
	border-color: #efefef;
	border-width: 1.5px;
}

.iframe-widget {
	border: none;
}
