/* rss2 feed widget */
/*
.rss-widget .media-body {
	line-height: 1.8em;
}

.rss-widget .media-heading {
	text-transform: uppercase;
	line-height: 1.3em;
}
*/
.rss-widget .media-heading,
.rss-widget .media-heading a {
	color: #FF8700;
}

.rss-widget .date-badge {
	width: 37px;
	height: 37px;
	margin-bottom: 15px;
}

.rss-widget .date-badge p:nth-child(1) {
	font-size: 1.3em;
}

.rss-widget .date-badge p:nth-child(n + 2) {
	margin-top: -12px;
	font-size: 0.66em;
}

.rss-widget .line {
	height: 1px;
	border: 1px solid;
	border-color: #efefef;
	border-width: 1.5px;
}