.panel-heading {
    cursor: move;
}
.grid-stack {
}
.grid-stack-item .ui-resizable-handle {
    border: none;
}
.grid-stack>.grid-stack-item>.grid-stack-item-content {
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 2px 0 rgba(0,0,0,.1);
}

.grid-stack-item-content .widget_header {
    cursor: move;
    height: 30px;
}